<%= employee_breadcrumb %>

<p class='employees__welcome text-xl font-light pb-4'><%= t '.welcome', name: current_user.name, role: current_user.role.humanize %></p>

<% if current_user.warehouse? %>
  <%= render 'warehouse' %>
<% elsif current_user.customer_service? %>
  <%= render 'customer_service' %>
<% end %>
